@forward 'colors.scss';
@use 'colors.scss';

.ui-dialog .tab-content .charsheet {

    .flexrow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .flexcol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
}